.mobile-container {
  width: 100%;
  padding-top: 100px;
}
.mobile-container > .masonry-mobile > .item > .design-image {
  display: block !important;
}
.mobile-container > .masonry-mobile > a > .item > .web-image {
  display: block !important;
  opacity: 1;
}
.mobile-container > .masonry-mobile > a > .item > .experiment-image {
  display: block !important;
  opacity: 1;
}
.mobile-container > .masonry-mobile > .masonry-web > a > .item > .web-image {
  display: block !important;
  opacity: 1;
}

body {
  height: auto !important;
  transition: all 1s;
  font-family: "Work Sans", sans-serif;
  background: black;
  color: white;
}

.item:hover {
    border: 2px solid white;
}

img {
  /*transform: scale(1) !important;*/
}

.item:active {
    border: 2px solid white;
}

.design-image {
  /*opacity: 1;*/
  width: 100%;
  /*transition: 1s*/
}
.web-image {
  /*opacity: 1;*/
  width: 100%;
  /*transition: 1s;*/
  padding: 0px;

}
.web-image:hover {
  /*transform: scale(1.1);*/
  /*transition: 1s;
  padding: 30px;*/
}
.experiment-image {
  /*opacity: 1;*/
  width: 100%;
  transition: 1s
}
.gif-image {
  /*opacity: 1;*/
  width: 100%;
  /*transition: 1s*/
}


.iconic-file-pdf {
    /* opacity: 1; */
    color: white !important;
    margin: 0 auto !important;
    visibility: visible !important;
    padding-top: 0px !important;
    left: 160px !important;
    top: -77px !important;
    font-size: 50px !important;
}

#mobile-res {
  font-family: eskapade-fraktur, sans-serif;
  padding-left: 10px;
}


header.me {
    margin: 0 auto;
    position: relative;
    text-align: center;
    padding-top: 50px;
    margin-bottom: -50px;
}
